name: Continuous Integration
on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

jobs:
  Linting:
    name: Linting
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Uses Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: 1.3.5
      - name: Install Dependencies
        run: bun install --frozen-lockfile
      - name: Run Prettier
        run: bun pretty

  Building:
    name: Build
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Uses Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: 1.3.5
      - name: Install Dependencies
        run: bun install --frozen-lockfile
      - name: TypeCheck
        run: bun typecheck